<!-- prettier-ignore -->
{% extends "Base.html" %}{% block title %}Gallery Page{% endblock title %}
  {% block content %} {% load static %}

<!-- move dynamic invent cards script to views and just call -->
<div class="image-parallax fade-in">
  <div class="container">
    <div class="header-content">
      <!--prettier-ignore-->
      {% for content in editableStaticContent %} 
      {% if content.title == 'GalleryHero' %}
      <h1 class="mt-5 mb-4">{{ content.header }}</h1>
      {% for para in content.escToPara_fk.all %}
      <p>{{ para.paragraph }}</p>
      {% endfor %}{% endif %}{% endfor %}
    </div>
  </div>
</div>

<!-- Dynamically created inventory cards from db -->
{% include 'includes/inventoryCarousel.html' %}

<!-- Text to redirect to social media -->
<div class="container-fluid bg-black m-0 p-5 text-white-50">
  <!--prettier-ignore-->
  {% for content in editableStaticContent %} 
  {% if content.title == 'GalleryBreaker' %}
  <h1>{{ content.header }}</h1>
  {% for para in content.escToPara_fk.all %}
  <p>{{ para.paragraph }}</p>
  {% endfor %}{% endif %}{% endfor %}
</div>

<!-- Introduction text to fixed gallery of previous stock examples -->
<div class="image-parallax-other">
  <div class="container">
    <div class="header-content">
      <!--prettier-ignore-->
      {% for content in editableStaticContent %} 
      {% if content.title == 'GalleryExamplePics' %}
      <h1 class="mt-5 mb-4">{{ content.header }}</h1>
      {% for para in content.escToPara_fk.all %}
      <p>{{ para.paragraph }}</p>
      {% endfor %}{% endif %}{% endfor %}
    </div>
  </div>
</div>

<!-- Fixed gallery carousel of cars non-dynamic-->
<div class="container-fluid mb-5 mt-5">
  <div class="container rounded-3">
    {% include 'includes/previousExamplesCarousel.html' %}
  </div>
</div>

{% endblock %}
