<!-- prettier-ignore -->
{% extends "Base.html" %}{% block title %}Gallery Page{% endblock title %}
  {% block content %} {% load static %}

<!-- move dynamic invent cards script to views and just call -->
<div class="image-parallax fade-in">
  <div class="container">
    <div class="header-content">
      <h1 class="mt-5 mb-4">GALLERY</h1>
      <p>
        We have a variety of American vehicles in stock either currently being
        imported or already located in the UK. Below are examples of the types
        of stock we hold.
      </p>
    </div>
  </div>
</div>

<!-- Dynamically created inventory cards from db -->
{% include 'includes/inventoryCarousel.html' %}

<!-- Text to redirect to social media -->
<div class="container-fluid bg-black m-0 p-5 text-white-50">
  <h1>Find more vehicles on Facebook and Instagram</h1>
  <p>Sourced from the East Coast USA for you.</p>
</div>

<!-- Introduction text to fixed gallery of previous stock examples -->
<div class="image-parallax-other">
  <div class="container">
    <div class="header-content">
      <h1 class="mt-5 mb-4">Previous examples</h1>
      <p>
        Below are examples of vehicles we have previously sourced and imported
        for clients from the USA to the UK.
      </p>
    </div>
  </div>
</div>

<!-- Fixed gallery carousel of cars non-dynamic-->
<div class="container-fluid mb-5 mt-5">
  <div class="container rounded-3">
    {% include 'includes/previousExamplesCarousel.html' %}
  </div>
</div>

{% endblock %}
