<!--prettier-ignore-->
{% extends "Base.html" %}{% block content %} {% load static %} 
{% for content in editableStaticContent %}
<header>
  {% if content.title == 'HomeHero' %}
  <div class="header-parallax fade-in">
    <div class="container">
      <div id="HomeHero" class="header-content">
        {% for para in content.escToPara_fk.all %}
        <h1>{{ content.header }}</h1>
        <p>{{ para.paragraph }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</header>
<section>
  {% if content.title == 'Home' %}
  <div class="container-fluid bg-light text-center">
    <div
      id="Home"
      class="col-md-8 p-3 bg-dark-subtle shadow position-relative top-0 start-50 translate-middle rounded-2"
    >
      <h2>{{ content.header }}</h2>
    </div>

    <div class="container-fluid px-lg-5">
      <div class="row row-cols-1 row-cols-sm-2 pb-lg-5">
        <!-- fudging bootstrap5 to contain text within a pill shape as the element does not change for text-wrap to give required effect -->
        <div
          class="col-sm-9 pt-5 pb-5 px-4 mb-4 bg-danger-subtler rounded-pill px-xxl-5"
        >
          <div class="text-center rounded-5 px-2 pt-3 pt-md-5 px-md-5 pt-xl-2">
            <div class="text pt-5 px-3 px-sm-3 px-lg-5">
              <!--prettier-ignore-->
              <h5>{{ content.subHeader }}</h5>
              {% for para in content.escToPara_fk.all %}
              <p>{{ para.paragraph }}</p>
              {% endfor %}
            </div>
          </div>
          <br />
          <div class="container-fluid position-relative">
            {% for image in content.escToImage_fk.all %}
            <img
              class="img-fluid mt-2 rounded-2 shadow"
              src="{{ image.images.url }}"
              alt="USA Vehicle Imports logo image"
            />

            <button
              type="button"
              class="btn btn-sm position-absolute top-100 start-0 translate-middle rounded-circle"
              data-bs-toggle="collapse"
              data-bs-target="#imageData"
              aria-expanded="false"
              aria-controls="imageData"
            >
              <i class="fa fa-info" aria-hidden="true"></i>
            </button>
            <div class="collapse" id="imageData">
              <div class="card card-body bg-danger-subtler">
                {{ image.description }}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <!-- Links to main pages of interest -->
        <div class="col-12 col-sm-3 px-xl-5">
          <div class="row row-cols-3 row-cols-sm-1 pt-sm-5">
            <!--prettier-ignore-->
            {% for page in navHTMLPage %} 
            {% if page.page == 'Services' %}
            <div class="col-4 my-2 home-card link-effect px-5 px-sm-2 pt-sm-3">
              <div class="img-fluid mx-4 mx-sm-0">
                {% with pagetitle=page.page %}
                <a
                  class="nav-item nav-link"
                  href="{% url 'frontapp:'|add:pagetitle %}"
                  >{{ page.title }}<img
                    class="img-thumbnail mt-1 rounded-lg hover-effect"
                    src="{{ page.imageIcon.url}}" /></a
                >{% endwith %}
              </div>
              <div class="nav-link-info">
                <p>{{ page.description }}</p>
              </div>
            </div>
            <!--prettier-ignore-->
            {% endif %}{% endfor %}
            {% for page in navHTMLPage %}
            {% if page.page == 'Gallery' %}
            <div class="col-4 my-2 home-card link-effect px-5 px-sm-2 pt-sm-3">
              <div class="img-fluid mx-4 mx-sm-0">
                {% with pagetitle=page.page %}
                <a
                  class="nav-item nav-link"
                  href="{% url 'frontapp:'|add:pagetitle %}"
                  >{{ page.title }}<img
                    class="img-thumbnail mt-1 rounded-pill hover-effect"
                    src="{{ page.imageIcon.url}}" /></a
                >{% endwith %}
              </div>
              <div class="nav-link-info">
                <p>{{ page.description }}</p>
              </div>
            </div>
            <!--prettier-ignore-->
            {% endif %}{% endfor %} {% for page in navHTMLPage %} 
            {% if page.page == 'News' %}

            <div class="col-4 my-2 home-card link-effect px-5 px-sm-2 pt-sm-3">
              <div class="img-fluid mx-4 mx-sm-0">
                {% with pagetitle=page.page %}
                <a
                  class="nav-item nav-link"
                  href="{% url 'frontapp:'|add:pagetitle %}"
                  >{{ page.title }}<img
                    class="img-thumbnail mt-1 rounded-circle hover-effect"
                    src="{{ page.imageIcon.url}}" /></a
                >{% endwith %}
              </div>
              <div class="nav-link-info">
                <p>{{ page.description }}</p>
              </div>
            </div>
            {% endif %}{% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</section>
{% endfor %} {% if testimonial %}
<section>{% include 'includes/testimonial.html' %}</section>
{% endif %} {% endblock content %}
