{% extends "Base.html" %}{% block content %} {% load static %}

<div class="header-parallax">
  <div class="container">
    <div class="header-content">
      <h1>WELCOME to USA Vehicle Imports</h1>
      <p>
        We specialise in wholesale and import of pre-owned vehicles from East
        Coast USA. <i class="fa fa-arrow-circle-o-down ms-5"></i>
      </p>
    </div>
  </div>
</div>

<header>
  <div class="container-fluid bg-white text-center">
    <br />
    <h2>
      American Car Sales, Imports, Transportation, Registration, and Sourcing
    </h2>
    <br />
    <div class="container-fluid text-center p-4">
      <p>
        We provide a safe and secure way to import cars directly from the USA.
      </p>
      <p>We can select and buy cars on your behalf and request.</p>
      <p>
        All vehicles are personally inspected by our team before purchase in the
        United States.
      </p>
      <p>
        We deliver your vehicle(s) from door to door using our own transport
        team.
      </p>
      <p>
        We have over 25 years experience in buying used American cars, RVs,
        convertibles, classics, motorbikes, and much more!
      </p>
      <p>Delivery can be as soon as 4 weeks depending on shipping locations.</p>
      <img
        class="img-fluid mt-2 mb-2 rounded-2 shadow"
        src="{% static '/images/home/banner-4.jpg' %}"
        alt="USA Vehicle Imports logo image"
      />
    </div>
  </div>
</header>

{% endblock %}
