{% extends "Base.html" %} {% block content %} {% load static %}
<div class="container-fluid">
  <div class="text text-center">
    <br />
    <h1 class="p-4">Whats Been Happening..</h1>
    <p>Posting news, events, and generally what we've been up to.</p>
    <hr />
    <!-- change to include -->
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-sm-8">
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
          {% for post in post %}
          <div class="col mb-4">
            <div
              class="card h-100 shadow-sm bg-primary-subtle mx-auto"
              style="max-width: 350px"
            >
              <!-- header -->
              <div class="card-header">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text">Author: {{ post.author }}</p>
                <p class="card-text">Date: {{ post.created }}</p>
              </div>
              <!-- dealing with images -->

              {% if post.image_url %}

              <img
                src="{{ post.image_url }}"
                class="card-img shadow-sm img-fit mb-3"
                alt="Post image from url"
              />
              {% endif %} {% if post.image_upload %}

              <img
                src="{{ post.image_upload.url }}"
                class="card-img shadow-sm img-fit"
                alt="Post uploaded image"
              />

              {% endif %}

              <!-- main body text -->
              <div class="card-body">
                <p class="card-text">{{ post.body }}</p>
              </div>
              {% if post.video %}
              <div class="card-footer mb-2">
                <video class="w-100 shadow-sm" controls>
                  <source
                    src="{{ MEDIA_URL}}{{ post.video.url }}"
                    type="video/mp4"
                  />
                  Your browser does not support the video tag.
                </video>
              </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-12 col-sm-4">
        <div class="row bg-light-subtle mb-5">
          <h3 class="text-black-50 fw-bold">Where we are</h3>
          {% for data in data %}
          <p>{{ data.business_name }}</p>
          <p>{{ data.address_1stline }}, {{ data.address_2ndline }},</p>
          <p>{{ data.address_town }},</p>
          <p>{{ data.address_county }} {{ data.address_postcode }}</p>
          {% endfor %}
          <div class="ratio ratio-4x3">
            <iframe
              class="shadow rounded-3"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4778.784015310255!2d-0.13172425391769588!3d53.21081931422018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4878709892775519%3A0x85590e0ac3389ca9!2sLincoln%20Rd%2C%20Horncastle%20LN9%205AW!5e0!3m2!1sen!2suk!4v1696443462995!5m2!1sen!2suk"
              width="600"
              height="450"
              style="border: 0"
              allowfullscreen=""
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
        </div>
        <br />
        <div class="row mb-5 mt-5">
          <h3 class="text-black-50 fw-bold text-decoration-underline mb-4">
            Testimonials
          </h3>
          <section>
            {% for testim in testimonial %}
            <div class="row text-center">
              <i class="fa fa-commenting text-warning"></i>
            </div>
            <hr />
            <div class="row text-center">
              <h5 class="mb-2">{{ testim.name }}</h5>
              <h6 class="mb-3 text-black-50">{{ testim.address }}</h6>

              <div class="px-xl-3">
                <i class="fa fa-quote-left pe-2 text-black-50"></i>
                <span>{{ testim.quote }} </span>
              </div>
              <div class="px-xl-3">
                <i class="fa fa-star mx-auto mb-3 text-warning"></i>
                <span>{{ testim.rate }}/5 </span>
              </div>
            </div>
            <hr />

            {% endfor %}
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
