<!-- prettier-ignore -->
{% extends "Base.html" %} {% block title %}News Page{% endblock title %}
{% block content %} {% load static %}

<div class="container-fluid bg-dark-subtle">
  <div class="text">
    <video
      id="bg-news-image"
      preload="auto"
      playsinline
      autoplay
      loop
      muted
      class="position-absolute end-0 bottom-0 h-auto w-auto object-fit-cover fade-in-long z-0 bg-lilac-subtle"
    >
      <source
        src="../media/video/forest.mp4"
        poster="{% static 'images/other/bg-forest.jpg' %} "
        type="video/mp4"
      />
    </video>
    <div class="d-inline-block p-5 opacity-75 z-1 text-center">
      <br /><br /><br /><br /><br /><br /><br />
      <!--prettier-ignore-->
      {% for content in editableStaticContent %} 
      {% if content.title == 'NewsHero' %}
      <h1 class="text-bg-light mb-0 p-2 p-sm-4 rounded-top-3">
        {{ content.header }}
      </h1>
      {% for para in content.escToPara_fk.all %}
      <p class="text-bg-light p-2 px-sm-4 pb-sm-4 rounded-bottom-3">
        {{ para.paragraph }}
      </p>
      {% endfor %}{% endif %}{% endfor %}
    </div>
  </div>
  <br />
  <div class="row p-1 z-1">
    <!-- 1st col for posts in cards incl images and videos -->
    <div class="col-12 col-md-8">
      <div class="row row-cols-1 row-cols-lg-2">
        {% include 'includes/postCard.html' %}
      </div>
    </div>
    <!-- 1st col end -->

    <!-- 2nd col for where we are, map, and testimonials -->
    <div class="col-12 col-md-4 bg-dark-subtle rounded-2 mt-4 z-1">
      <div class="row pb-4 bg-light rounded-top-2">
        <h3 class="text-black-50 fw-bold">Where we are</h3>
        {% for data in data %}
        <p>{{ data.business_name }}</p>
        <p>{{ data.address_1stline }}, {{ data.address_2ndline }},</p>
        <p>{{ data.address_town }},</p>
        <p>{{ data.address_county }} {{ data.address_postcode }}</p>
        {% endfor %}
        <div class="ratio ratio-4x3">
          <!-- google maps embedded link generated all iframe data-->
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2389.392359781355!2d-0.1265744!3d53.210813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4878709892775519%3A0x85590e0ac3389ca9!2sLincoln%20Rd%2C%20Horncastle%20LN9%205AW!5e0!3m2!1sen!2suk!4v1697020253591!5m2!1sen!2suk"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>

      <div class="row pb-4 pt-4 bg-light px-2">
        <br />
        <hr />
        {% include 'includes/messages.html' %}
        <h3 class="text-black-50 fw-bold mb-4 px-1">Most recent message...</h3>
        <ul>
          {% for mes in messages %}
          <li>{{ mes }}</li>
          {% endfor %}
        </ul>
        <!--message toast-->
        <hr />
        <br />
      </div>

      <!-- testimonials section: hidden on small screen sizes -->
      <div class="d-none d-sm-block row pb-4 pt-4 bg-light rounded-bottom-2">
        <h3 class="text-black-50 fw-bold text-decoration-underline mb-4">
          Testimonials
        </h3>
        <section>
          {% for testim in testimonial %}
          <div class="row text-center">
            <i class="fa fa-comments text-warning"></i>
          </div>
          <hr />
          <div class="row text-center">
            <h5 class="mb-2">{{ testim.name }}</h5>
            <h6 class="mb-3 text-black-50">{{ testim.address }}</h6>

            <div class="px-xl-3">
              <i class="fa fa-quote-left pe-2 text-black-50"></i>
              <span>{{ testim.quote }} </span>
            </div>
            <div class="px-xl-3">
              <i class="fa fa-star mx-auto mb-3 text-warning"></i>
              <span>{{ testim.rate }}/5 </span>
            </div>
          </div>
          <hr />

          {% endfor %}
        </section>
      </div>
      <!-- end testimonials -->
    </div>
    <!-- end 2nd col-->
  </div>
</div>
{% endblock %}
