<!-- prettier-ignore -->
{% extends "Base.html" %}{% block title %}Services Page{% endblock title %}
{% block content %} {% load static %}

<div
  class="container-fluid bg-secondary-subtle text-center fade-in pb-3 px-xxl-5"
>
  <div class="row row-cols-1 row-cols-md-2">
    <!--prettier-ignore-->
    {% for content in editableStaticContent %} 
    {% if content.title == 'Sourcing' %}
    <div
      id="sourcing"
      class="col mb-4 mt-4 d-flex flex-column justify-content-between"
    >
      <div class="text-center">
        <h1 class="position-relative pt-3 fw-semibold">
          {{ content.header }}<span
            class="position-absolute top-0 start-70 translate-middle"
            ><img
              src="{{ content.badge.url }}"
              class="rounded-circle border border-primary shadow"
          /></span>
        </h1>
        <h5>{{ content.subHeader }}</h5>
        {% for para in content.escToPara_fk.all %}
        <p class="px-2 px-xxl-5">{{ para.paragraph }}</p>
        {% endfor %} {% for link in content.escToLink_fk.all %}
        <p class="px-2 px-xxl-5">
          Useful source: {{ link.title }} ->
          <span class="fst-italic fw-light"
            ><a
              href="{{ link.externalLink }}"
              class="text-reset"
              target="_blank"
              >{{ link.externalLink }}</a
            ></span
          >
        </p>
        {% endfor %}
      </div>

      <div class="container-fluid position-relative">
        {% for image in content.escToImage_fk.all %}
        <img
          class="img-thumbnail bg-transparent shadow"
          src="{{ image.images.url }}"
          alt="USA Vehicle Imports logo"
        />

        <button
          type="button"
          class="btn btn-sm position-absolute top-100 start-0 translate-middle rounded-circle"
          data-bs-toggle="collapse"
          data-bs-target="#imageData"
          aria-expanded="false"
          aria-controls="imageData"
        >
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </button>
        <div class="collapse" id="imageData">
          <div class="card card-body bg-light">{{ image.description }}</div>
        </div>
        {% endfor %}
      </div>
    </div>
    <!--prettier-ignore-->
    {% endif %} {% endfor %} 
    {% for content in editableStaticContent %}
    {% if content.title == 'Importing' %}
    <div
      id="importing"
      class="col mb-4 mt-4 d-flex flex-column justify-content-between"
    >
      <div class="text-center">
        <h1 class="position-relative pt-3 fw-semibold">
          {{content.header }}<span
            class="position-absolute top-0 start-70 translate-middle p-2"
            ><img
              src="{{ content.badge.url }}"
              class="rounded-circle border border-success shadow"
          /></span>
        </h1>
        <h5>{{ content.subHeader }}</h5>
        {% for para in content.escToPara_fk.all %}
        <p class="px-2 px-xxl-5">{{ para.paragraph }}</p>
        {% endfor %} {% for link in content.escToLink_fk.all %}
        <p class="px-2 px-xxl-5">
          Useful source: {{ link.title }} ->
          <span class="fst-italic fw-light"
            ><a
              href="{{ link.externalLink }}"
              class="text-reset"
              target="_blank"
              >{{ link.externalLink }}</a
            ></span
          >
        </p>
        {% endfor %}
      </div>
      {% for image in content.escToImage_fk.all %}
      <div class="container-fluid position-relative">
        <img
          class="img-thumbnail bg-transparent shadow"
          src="{{ image.images.url }}"
          alt="USA Vehicle Imports logo"
        />
        <button
          type="button"
          class="btn btn-sm position-absolute top-100 start-0 translate-middle rounded-circle"
          data-bs-toggle="collapse"
          data-bs-target="#imageData"
          aria-expanded="false"
          aria-controls="imageData"
        >
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </button>
        <div class="collapse" id="imageData">
          <div class="card card-body bg-light">{{ image.description }}</div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %} {% endfor %}
  </div>
  <!--prettier-ignore-->
  {% for content in editableStaticContent %} 
  {% if content.title == 'Transportation' %}
  <div id="transportation" class="row justify-content-center">
    <div class="col mb-5">
      <div class="container">
        <div class="text-center p-md-5">
          <h1 class="position-relative pt-3 fw-semibold">
            {{ content.header }}<span
              class="position-absolute top-0 start-70 translate-middle p-2"
            >
              <img
                src="{{ content.badge.url }}"
                class="rounded-circle border border-dark shadow"
              />
            </span>
          </h1>
          <h5>{{ content.subHeader }}</h5>
          {% for para in content.escToPara_fk.all %}
          <p class="px-2 px-xxl-5">{{ para.paragraph }}</p>
          {% endfor %} {% for link in content.escToLink_fk.all %}
          <p class="px-2 px-xxl-5">
            Useful source: {{ link.title }} ->
            <span class="fst-italic fw-light"
              ><a
                href="{{ link.externalLink }}"
                class="text-reset"
                target="_blank"
                >{{ link.externalLink }}</a
              ></span
            >
          </p>
          {% endfor %}
        </div>
        <!-- iMAGES OF TRANSPORTATION VEHICLE AND LOADS -->

        <div class="row row-cols-1 row-cols-md-4 bg-transparent g-2">
          {% for image in content.escToImage_fk.all|slice:":4" %}
          <img
            class="img-thumbnail bg-transparent p-0"
            src="{{ image.images.url }}"
            alt="Loader front"
          />
          {% endfor %}
        </div>

        <a id="enquiryForm"></a>
        {% for image in content.escToImage_fk.all|slice:"4:5" %}
        <img
          class="img-fluid mt-2 rounded-2 p-0 shadow"
          src="{{ image.images.url }}"
          alt="USA Vehicle Imports logo"
        />{% endfor %}
      </div>
    </div>
  </div>
  {% endif %}{% endfor %} {% if faqs %}
  <!--FAQ-->
  <div class="container p-2 p-md-5">
    <h1>FAQs</h1>
    {% include 'includes/faqs.html' %}

    <p class="text-black-50 mt-2" style="font-size: 0.8rem">
      <em>
        # If there are any questions you have that we have not answered, please
        feel free to get in touch using the form below.
      </em>
    </p>
  </div>
  {% endif %}
</div>
{% endblock content %}
