<!--included in news.html-->
{% load crispy_forms_tags %}

<div
  class="modal fade"
  id="createCommentsForm-{{ post.id }}"
  tabindex="-1"
  aria-labelledby="createCommentsFormLabel-{{ post.id }}"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-bg-success">
        <h5 class="modal-title" id="createCommentsFormLabel-{{ post.id }}">
          Leave a comment
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          id="commtForm"
          method="POST"
          style="margin-top: 1.3em"
          action="{%  url 'frontapp:CommentOnPost' post.id %}"
        >
          {% csrf_token %} {{ comment_form|crispy }}
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
        <p class="bg-info-subtle p-2">
          Note: Once submitted your comment will await moderation by the admin
          team (not a robot!) before appearing. This is just a general
          precautionary step and we appreciate your understanding. From all the
          team here, we would like to thank you for taking the time to let us
          know what you think.
        </p>
      </div>
    </div>
  </div>
</div>
