<!-- Button to view enquiry form -->
<div class="container-fluid container-form-bgcolor pt-3 pb-3">
  <div class="row mt-5 mb-5">
    <div class="col-12 mt-2 mb-2">
      <button
        type="button"
        class="btn btn-secondary btn-lg d-block w-50 m-auto shadow rounded-pill"
        data-bs-toggle="collapse"
        data-bs-target="#collapseContactForm"
        aria-expanded="false"
        aria-controls="collapseContactForm"
      >
        Get in touch
      </button>
    </div>
  </div>
  <!-- Hidden collapsable enquiry form using third party email service FormSpree.io. 
    Receiving email account logged with formspree. -->
  <div class="collapse" id="collapseContactForm">
    <form
      id="contactForm"
      method="post"
      action="https://formspree.io/f/mbjvoewj"
    >
      {% csrf_token %}
      <div
        class="container bg-light px-1 pt-3 pb-3 p-sm-3 mb-5 shadow rounded-3"
        style="max-width: 600px"
      >
        <h1 class="text-center text-black-50">Enquiry form</h1>
        <!-- name, email, phone number, enquiry comments -->
        <div class="form-floating m-sm-3">
          <input
            type="text"
            class="form-control"
            name="_enqName"
            id="enqName"
            value=""
            aria-describedby="enqNameMessage"
            placeholder="Name"
            required
            pattern="[a-zA-Z\s ]+"
            title="Only letters required"
          />
          <label for="enqName">Name *</label>
          <small id="enqNameMessage" class="form-text text-muted"
            >This will only generate an enquiry email to us, we will not share
            your details with anyone else.</small
          >
        </div>
        <div class="row g-2">
          <div class="col-md">
            <div class="form-floating m-sm-3">
              <input
                type="email"
                class="form-control"
                name="_enqEmail"
                id="enqEmail"
                value=""
                placeholder="name@example.com"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,10}$"
                title="Valid email required"
              />
              <label for="enqEmail">Email address *</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating mb-2 m-sm-3">
              <input
                type="tel"
                class="form-control"
                name="_enqTelephoneNumber"
                id="enqTelephoneNumber"
                value=""
                placeholder="Telephone number"
                pattern="[0-9]+"
                title="Only numbers required"
              />
              <label for="enqTelephoneNumber">Telephone number</label>
            </div>
          </div>
        </div>

        <div class="form-floating m-sm-3">
          <textarea
            class="form-control"
            placeholder="Leave your enquiry here"
            name="_enqDetails"
            id="enqDetails"
            value=""
            style="height: 100px"
            required
          ></textarea>
          <label for="enqDetails">Enquiry details *</label>
        </div>
        <p>
          <small id="enqRequired" class="form-text text-muted mx-3"
            >* required</small
          >
        </p>
        <button type="submit" class="btn btn-primary mx-3">Submit</button>
      </div>
    </form>
  </div>

  <!-- Email confirmation note to make visible or call thankyou.html -->
  <!--<div class="container" id="thankyou" >
        <div class="container-fluid shadow mt-5 text-center p-5 w-50" >
            <h2>Thank You for Your Enquiry.</h2>
            <p>Your form has been submitted successfully.</p>
            <p>We will contact you as soon as possible.</p>
        </div>
    </div>-->
</div>
