 <!--included in base.html-->
 {% load static %}
 

 <a id="contactUs"></a>
<footer class="bg-dark text-white">
    <div class="container p-5">
        <div class="row row-cols-1 row-cols-sm-2 justify-content-center">
            <div class="col" >
                
                <p class="fs-3">Get in touch:</p>
                <p>Enquiry form above</a></p>
                
                {% for data in data %}
                {% if data %}
                {% if data.contact_phone %}
                <p> Phone: {{ data.contact_phone }} </p>
                {% endif %}  
                
                {% if data.contact_mobile %}
                <p>Mobile: {{ data.contact_mobile }}</p>
                {% endif %}
                
                <p>Email<a href="mailto:{{ data.contact_email }}"> usavehicleimports</a></p> 
                {% endif %} 
                                
                <p>
                    {% if data.facebook %}
                    <a class="nav-item nav-link" 
                     title="Facebook" target="_blank" href="{{ data.facebook }}">Facebook <i class="fa fa-facebook-square mx-1" style="color: coral"></i
                        ></a> 
                        {% endif %}   {% if data.instagram %}                   
                    <a class="nav-item nav-link" title="Instagram" target="_blank" href="{{ data.instagram }}">or Instagram <i class="fa fa-instagram mx-1" style="color: coral"></i
                        ></a>
                        {% endif %}{% if data.twitter %}
                    <a class="nav-item nav-link" title="Twitter" target="_blank" href="{{ data.twitter }}">or Twitter <i class="fa fa-twitter-square mx-1" style="color: coral"></i
                        ></a>
                        {% endif %}{% if data.linkedIn %}
                    <a class="nav-item nav-link" title="LinkedIn" target="_blank" href="{{ data.linkedIn }}">or LikedIn <i class="fa fa-linkedin-square mx-1" style="color: coral"></i
                        ></a>
                        {% endif %}
                </p>   
                         
            </div>
          
            <div class="col lh-1">
                
                {% if data %}
                <p class="m-1 lh-sm">{{ data.business_name }}</p>
                <p class="m-1 lh-sm">
                    {{ data.address_1stline }},
                    {{ data.address_2ndline }},
                    {{ data.address_town }}
                    {{ data.address_county }}
                </p>
                {% if data.contact_name %}
                <p class="m-1 lh-sm">Contact: {{ data.contact_name }}</p> 
                {% endif %}  
                <!-- google maps link -->
                
                <p class="m-1 lh-sm">
                    <a href="{{ data.google_map_link }}"
                    target="_blank">
                        {{ data.address_postcode }}
                    </a>
                </p>
                {% endif %}
                
                <a class="navbar-brand" href="#">
                    <img class="img-thumbnail mt-3 mb-3 w-50" src="{{ data.business_logo.url }}" alt="USA Vehicle Imports logo">
                </a>
                <div class="text-sm-start lh-sm text-white-50">
                    <p class="m-0 p-0 fw-light" style="font-size: 0.8rem;">
                        {% now "Y" as curr_yr %}
                        Copyright @{{ curr_yr }}
                        <span class="text-uppercase">{{ data.business_name }}</span></p>
                    <p class="fw-lighter" style="font-size: 0.7rem;">All rights reserved</p>
                </div>
                {% endfor %}
                <a href="{% url 'admin:index' %}" class="position-relative bottom-0 start-100 text-dark" style="font-size: 0.7rem;">Admin</a>
            </div>
            
        </div>
    </div>

</footer>
