{% load static %}
<a id="contactUs"></a>
<footer class="bg-dark text-white">
    <div class="container p-5">
        <div class="row row-cols-1 row-cols-sm-2 justify-content-center">
            <div class="col">
                <p class="fs-3">Get in touch:</p>
                <p>Enquiry form above</a></p>
                <p>
                    07939 661433
                </p>
                <p>Email<a href="mailto:info@usavehicleimports.com"> usavehicleimports</a></p>                
                <p>
                    <a class="nav-item nav-link" title="Facebook" href="https://www.facebook.com/Usavehicleimports/"> Facebook</a>                       
                    <a class="nav-item nav-link" title="Instagram" href="https://www.instagram.com/usa.vehicle.imports/"> or Instagram</a>
                </p>                  
            </div>
        
          
            <div class="col lh-1">
                
                <p class="m-1">USA Vehicle Imports</p>
                <p class="m-1">
                    Unit 2,
                    Lincoln Road,
                    Horncastle
                </p class="m-1">    
                <p class="m-1">LN9 5AW</p>
                <a class="navbar-brand" href="#">
                    <img class="img-thumbnail mt-3 mb-3 w-50" src="{% static "/images/home/usa-imports-logo.png" %}" alt="USA Vehicle Imports logo">
                </a>
                <div class="text-sm-start lh-sm text-white-50">
                    <p class="m-0 p-0 fw-light" style="font-size: 0.8rem;">Copyright @2023 USA VEHICLE IMPORTS</p>
                    <p class="fw-lighter" style="font-size: 0.7rem;">All rights reserved</p>
                </div>
                <a href="{% url 'admin:index' %}">Admin sign-in</a>
            </div>
            
        </div>
    </div>

</footer>