{% if messages %} {% for message in messages %}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div
    id="showToast"
    class="toast {{message.tags}}"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header">
      <i class="fa fa-comments"> </i>
      <strong class="me-auto"> Message</strong>
      <small class="text-muted">form submission</small>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body">{{ message|safe }}</div>
  </div>
</div>
<!--end message toast-->
{% endfor %} {% endif %}
