<!--prettier-ignore-->
<!--{% if messages %}

{% for message in messages %}
<div class="container-fluid p-0">
  <div
    class="alert {{ message.tags }} alert-dismissible shadow fade show"
    role="alert"
  >
    <button
      type="button"
      class="close"
      data-bs-dismiss="alert"
      aria-label="Close"
    >
      <span aria-hidden="true">&times</span>
    </button>

    {{ message|safe }}
  </div>
</div>
{% endfor %} {% endif %}-->

{% if messages %} {% for message in messages %}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div
    id="showToast"
    class="toast text-bg-success"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="toast-header">
      <i class="fa fa-comments"> </i>
      <strong class="me-auto"> Message</strong>
      <small class="text-muted">form submission</small>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
    <div class="toast-body">{{ message|safe }}</div>
  </div>
</div>
<!--end message toast-->
{% endfor %} {% endif %}
